<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Produto</title>
        <!-- Adicione a referência ao Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body class="container">
        <h1 class="my-4">Editar Produto</h1>
        <form th:action="@{/editar-produto}" th:object="${produtoDTO}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" class="form-control" th:field="*{nome}" maxlength="200" required>
            </div>

            <div class="form-group">
                <label for="avaliacao">Avaliação:</label>
                <input type="number" id="avaliacao" class="form-control" th:field="*{avaliacao}" step="0.5" min="1" max="5" required>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" rows="4" class="form-control" th:field="*{descricaoDetalhada}" maxlength="2000" required></textarea>
            </div>

            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="number" id="preco" class="form-control" step="0.01" th:field="*{precoProduto}" required>
            </div>

            <div class="form-group">
                <label for="estoque">Estoque:</label>
                <input type="number" id="estoque" class="form-control" th:field="*{qtdEstoque}" required>
            </div>

            <div class="form-group">
                <label for="status" style="margin-right: 25px;">Status:</label>
                <input type="checkbox" id="status" class="form-check-input" th:field="*{status}">
            </div>

            <div id="imagensSelecionadas" class="d-flex flex-wrap align-items-center">
                <div class="image-preview" th:each="imagem : ${produtoDTO.imagens}" style="max-width: 150px; margin-right: 10px; margin-bottom: 10px;">
                    <img th:src="@{'/imagem/' + ${imagem.caminho}}" class="img-thumbnail" alt="Imagem">
                    <input type="radio" th:name="*{imagemPrincipal}" th:value="${imagem.caminho}" th:checked="${imagem.caminho == produtoDTO.imagemPrincipal}">
                </div>
            </div>




            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>

        <!-- Adicione as referências ao jQuery e Bootstrap JavaScript -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- JavaScript para preencher dinamicamente as opções das imagens principais -->

    </body>
</html>
