<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Editar Usuário</title>

        <link rel="stylesheet" th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}">
        <script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/bootstrap-5.3.3-dist/js/bootstrap.min.js}"></script>

        <style>
            .mensagem {
                color: red;
            }
        </style>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Editar Usuário</h2>
                    <h4>Como vc esta atualmente nessa conta nao será possivel alterar seu proprio grupo</h4>
                    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <span th:text="${mensagem}"></span>
                    </div>
                    <form action="#" th:action="@{/usuario/atualizar}" th:object="${usuario}" method="post">
                        <div class="alert alert-danger" th:if="${mensagemErro}" th:text="${mensagemErro}"></div>

                        <input type="hidden" th:field="*{id}"/>

                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Nome:</label>
                            <div class="col-sm-5">
                                <input class="form-control" type="text" th:field="*{nome}" required>
                            </div>
                            <div class="col-sm-5">
                                <span class="mensagem" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">CPF:</label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" th:field="*{CPF}" required>
                            </div>
                            <div class="col-sm-5">
                                <span class="mensagem" th:if="${#fields.hasErrors('CPF')}" th:errors="*{CPF}"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Email:</label>
                            <div class="col-sm-2">
                                <input class="form-control" type="email" th:field="*{email}" th:value="*{email}" readonly>
                            </div>
                        </div>
                        <div>
                            <label for="grupo">Grupo:</label>
                            <!-- Campo hidden com o valor fixo ADMINISTRADOR -->
                            <input type="hidden" id="grupo" name="grupo" th:value="'ADMINISTRADOR'" />
                            <span>ADMINISTRADOR</span>
                        </div>



                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Senha:</label>
                            <div class="col-sm-2">
                                <input class="form-control" type="password" th:field="*{senha}">
                            </div>
                            <div class="col-sm-5">
                                <span class="mensagem" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Confirmar Senha:</label>
                            <div class="col-sm-2">
                                <input class="form-control" type="password" th:field="*{confirmacaoSenha}">
                            </div>
                            <div class="col-sm-5">
                                <span class="mensagem" th:if="${#fields.hasErrors('confirmacaoSenha')}" th:errors="*{confirmacaoSenha}"></span>
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Atualizar"/>
                        <button class="btn btn-secondary" type="button" onclick="window.location.href = '/usuario/listar'">Voltar à lista de usuários</button>
                    </form>

                </div>
            </div>
        </div>

        <script>
            var usuarioId = "${usuario.id}";
            var usuarioLogadoId = "${usuarioLogado.id}";

            window.onload = function () {
                var grupoSelect = document.getElementById('grupo');

                if (usuarioId === usuarioLogadoId) {
                    grupoSelect.disabled = true;
                }
            };
        </script>
    </body>
</html>
