<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listagem de Produtos</title>
        <link rel="stylesheet" th:href="@{/bootstrap-5.3.3-dist/css/bootstrap.min.css}">
        <style>
            /* Estilos adicionais */
            .container {
                max-width: 800px;
            }

            .pagination {
                margin-top: 20px;
            }

            .mudar-status {
                margin-right: 5px;
            }
        </style>
    </head>
    <body>
        <div class="container mt-5">
            <h2>Listagem de Produtos</h2>
            <div class="mb-3">
                <form th:action="@{/produtos}" method="get" class="input-group">
                    <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Buscar produto...">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>

            </div>
            <table class="table mt-3">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Quantidade em Estoque</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Utilizando Thymeleaf para iterar sobre a lista de produtos -->
                    <tr th:each="produto : ${produtosPage.content}">
                        <td th:text="${produto.id}"></td>
                        <td th:text="${produto.nome}"></td>
                        <td th:text="${produto.qtdEstoque}"></td>
                        <td th:text="${produto.precoProduto}"></td>
                        <td th:text="${produto.status ? 'Ativo' : 'Inativo'}"></td>
                        <td>
                            <a th:href="@{/produtos/{id}/editar(id=${produto.id})}" class="btn btn-info btn-action">Editar</a>
                <th:block th:if="${tipoUsuario == 'ADMINISTRADOR'}">
                    <form th:action="@{/produtos/mudar-status}" th:method="post" th:id="'form-mudar-status-' + ${produto.id}">
                        <input type="hidden" name="id" th:value="${produto.id}">
                        <button type="button" class="btn btn-warning btn-action mudar-status">Inativar/Ativar</button>
                    </form>
                </th:block>
                <th:block th:if="${tipoUsuario == 'ADMINISTRADOR'}">

                    <a th:href="@{/produtos/{id}(id=${produto.id})}" class="btn btn-secondary btn-action">Visualizar</a>



                </th:block>
                </td>
                </tr>

                <th:block th:if="${tipoUsuario == 'ADMINISTRADOR'}">
                    <a th:href="@{/produtos/novo}"   style="text-decoration: none;"><span style="font-size: 24px; cursor: pointer;">+</span> Adicionar Produto</a>
                </th:block>

                </tbody>
            </table>
            <!-- Barra de paginação -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li th:if="${produtosPage.hasPrevious()}" class="page-item">
                        <a class="page-link" th:href="@{/produtos(page=0,keyword=${keyword})}" aria-label="Primeira">
                            <span aria-hidden="true">Primeira</span>
                        </a>
                    </li>
                    <li th:if="${produtosPage.hasPrevious()}" class="page-item">
                        <a class="page-link" th:href="@{/produtos(listar?page=${produtosPage.previousPageable().pageNumber},keyword=${keyword})}" aria-label="Anterior">
                            <span aria-hidden="true">Anterior</span>
                        </a>
                    </li>
                    <li th:if="${produtosPage.hasNext()}" class="page-item">
                        <a class="page-link" th:href="@{/produtos(page=${produtosPage.nextPageable().pageNumber},keyword=${keyword})}" aria-label="Próxima">
                            <span aria-hidden="true">Próxima</span>
                        </a>
                    </li>
                    <li th:if="${produtosPage.hasNext()}" class="page-item">
                        <a class="page-link" th:href="@{/produtos(page=${produtosPage.totalPages - 1},keyword=${keyword})}" aria-label="Última">
                            <span aria-hidden="true">Última</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- Botão para chamar a tela de cadastro de produto -->
        </div>
        <!-- Importando scripts do Bootstrap e jQuery -->
        <script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
        <script th:src="@{/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>
        <script>
            document.querySelectorAll('.mudar-status').forEach(item => {
                item.addEventListener('click', event => {
                    const id = item.closest('form').querySelector('[name="id"]').value;
                    if (confirm("Tem certeza de que deseja mudar o status deste Produto?")) {
                        const form = document.getElementById('form-mudar-status-' + id);
                        form.submit();
                    }
                });
            });
        </script>
    </body>
</html>
