<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Principal</title>
    </head>

    <body>
        <h1>Bem-vindo à Página Principal</h1>

        <!-- Verifica se o tipo de usuário é ADMINISTRADOR para exibir o botão de listar usuários -->
    <th:block th:if="${tipoUsuario == 'ADMINISTRADOR'}">
        <a href="/usuario/listar"><button>Listar Usuários</button></a>
        <a href="/produtos/listar"><button>Listar Produtos</button></a>

    </th:block>

    <!-- Verifica se o tipo de usuário é ESTOQUISTA para exibir o botão de listar produtos -->
    <th:block th:if="${tipoUsuario == 'ESTOQUISTA'}">
        <a th:href="@{/produtos/listar}" class="btn btn-primary">Listar Produtos</a>
    </th:block>
</body>

</html>
