<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Visualização do Produto</title>
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:text="${produto.nome}"></h2>
                    <p th:text="${produto.descricaoDetalhada}"></p>
                    <p th:text="'Avaliação: ' + ${produto.avaliacao}"></p>
                    <p th:text="'Preço: R$ ' + ${#numbers.formatDecimal(produto.precoProduto, 2, 'COMMA', 2, 'POINT')}"></p>
                    <p th:text="'Quantidade em Estoque: ' + ${produto.qtdEstoque}"></p>
                </div>
                <div class="col-md-6">
                    <h4>Imagens do Produto</h4>
                    <div class="row">
                        <div th:each="imagem : ${produto.imagens}">
                            <img th:src="@{'/imagem/' + ${imagem.caminho}}" alt="Imagem do Produto" class="img-thumbnail">
                        </div>


                    </div>
                    <button class="btn btn-primary" disabled>Comprar</button>
                </div>
                <div class="col-md-6">
                    <h4>Imagens do Produto</h4>
                    <div class="row">
                        <!-- Corrigido: Adicionar o caminho absoluto das imagens -->
                        <div th:each="imagem : ${produto.imagens}">
                            <img th:src="@{'${imagemAbsolutaPath}/' + ${imagem.caminho}}" alt="Imagem do Produto" class="img-thumbnail">
                        </div>
                    </div>
                    <button class="btn btn-primary" disabled>Comprar</button>
                </div>
                <div class="row">
                    <div th:each="imagem : ${produto.imagens}">
                        <!-- Modifique o atributo th:src para usar o caminho absoluto -->
                        <img th:src="${imagemAbsolutaPath + '/' + imagem.caminho}" alt="Imagem do Produto" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>
</html>
