<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>

        <!-- Verifica se há mensagens de erro e as exibe -->
        <div th:if="${error}">
            <p th:text="${error}" style="color: red;"></p>
        </div>

        <!-- Formulário de login -->
        <form action="/paginaInicial" method="post">
            <!-- Campo de entrada para o email -->
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <!-- Campo de entrada para a senha -->
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required><br><br>

            <!-- Botão para enviar o formulário -->
            <button type="submit">Entrar</button>
        </form>
    </body>
</html>
