<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Usuário</title>
    </head>
    <body>
        <h1>Editar Usuário </h1>
        <h4>(COMO VOCE ESTA ALTERANDO VOCE MESMO NAO SERÁ POSSIVEL ALTERAR O GRUPO )</h4>
        <form action="/usuario/atualizar" method="POST" onsubmit="return validarFormulario()">
            <!-- Campos do formulário -->
            <input type="hidden" name="id" th:value="${usuario.id}" />

            <!-- Nome -->
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" th:value="${usuario.nome}" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ\s]+" title="Somente letras são permitidas" required />
                <span id="nomeInvalido" style="color: red; display: none;">Nome inválido.</span>
            </div>

            <!-- CPF -->
            <div>
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" th:value="${usuario.cpf}" required />
                <span id="cpfInvalido" style="color: red; display: none;">CPF inválido.</span>
            </div>

            <!-- Email (não editável) -->
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" th:value="${usuario.email}" readonly />
            </div>

            <!-- Senha -->
            <div>
                <label for="senha">Nova Senha:</label>
                <input type="password" id="senha" name="senha" required />
            </div>

            <!-- Confirmação da Senha -->
            <div>
                <label for="confirmacaoSenha">Confirmar Senha:</label>
                <input type="password" id="confirmacaoSenha" name="confirmacaoSenha" required />
                <span id="senhaIncorreta" style="color: red; display: none;">As senhas não coincidem.</span>
            </div>

            <!-- Grupo -->
            <!-- Grupo -->
            <div>
                <label for="grupo">Grupo:</label>
                <!-- Campo hidden com o valor fixo ADMINISTRADOR -->
                <input type="hidden" id="grupo" name="grupo" th:value="'ADMINISTRADOR'" />
                <span>ADMINISTRADOR</span>
            </div>

            <!-- Botão de envio do formulário -->
            <button type="submit">Salvar</button>

            <!-- Se houver uma mensagem de erro, exibe-a -->
            <div th:if="${erro}" class="alert alert-danger">
                <p th:text="${erro}"></p>
            </div>

            <!-- Se houver uma mensagem de sucesso, exibe-a -->
            <div th:if="${mensagem}" class="alert alert-success">
                <p th:text="${mensagem}"></p>
            </div>
        </form>

        <!-- Script JavaScript para validar o CPF e as senhas -->
        <script>
            function validarCPF(cpf) {
                cpf = cpf.replace(/[^\d]+/g, '');
                if (cpf == '')
                    return false;
                if (cpf.length != 11 || cpf == "00000000000" || cpf == "11111111111" || cpf == "22222222222" || cpf == "33333333333" || cpf == "44444444444" || cpf == "55555555555" || cpf == "66666666666" || cpf == "77777777777" || cpf == "88888888888" || cpf == "99999999999")
                    return false;
                var add = 0;
                for (var i = 0; i < 9; i ++)
                    add += parseInt(cpf.charAt(i)) * (10 - i);
                var rev = 11 - (add % 11);
                if (rev == 10 || rev == 11)
                    rev = 0;
                if (rev != parseInt(cpf.charAt(9)))
                    return false;
                add = 0;
                for (var i = 0; i < 10; i ++)
                    add += parseInt(cpf.charAt(i)) * (11 - i);
                rev = 11 - (add % 11);
                if (rev == 10 || rev == 11)
                    rev = 0;
                if (rev != parseInt(cpf.charAt(10)))
                    return false;
                return true;
            }

            function validarFormulario() {
                var nome = document.getElementById("nome").value;
                var cpf = document.getElementById("cpf").value;
                var senha = document.getElementById("senha").value;
                var confirmacaoSenha = document.getElementById("confirmacaoSenha").value;

                var nomeValido = /^[a-zA-Z\s]*$/.test(nome);
                var cpfValido = validarCPF(cpf);

                if (!nomeValido) {
                    document.getElementById("nomeInvalido").style.display = "block";
                    return false;
                } else {
                    document.getElementById("nomeInvalido").style.display = "none";
                }
                if (!cpfValido) {
                    document.getElementById("cpfInvalido").style.display = "block";
                    return false;
                } else {
                    document.getElementById("cpfInvalido").style.display = "none";
                }
                if (senha != confirmacaoSenha) {
                    document.getElementById("senhaIncorreta").style.display = "block";
                    return false;
                } else {
                    document.getElementById("senhaIncorreta").style.display = "none";
                    return true;
                }
            }
        </script>
        <script>
            var usuarioId = "${usuario.id}";
            var usuarioLogadoId = "${usuarioLogado.id}";

            window.onload = function () {
                var grupoSelect = document.getElementById('grupo');

                if (usuarioId === usuarioLogadoId) {
                    grupoSelect.disabled = true;
                }
            };
        </script>
    </body>
</html>
